[submodule "submodules/pytextcat"]
	path = submodules/pytextcat
	url = git://github.com/davidar/pytextcat.git
[submodule "submodules/datum"]
	path = submodules/datum
	url = git://github.com/davidar/datum.git
[submodule "submodules/3dglobe"]
	path = submodules/3dglobe
	url = git://github.com/davidar/3dglobe.git
