[submodule "submodules/pytextcat"]
	path = submodules/pytextcat
	url = git://github.com/davidar/pytextcat.git
[submodule "submodules/datum"]
	path = submodules/datum
	url = git://github.com/davidar/datum.git
[submodule "submodules/3dglobe"]
	path = submodules/3dglobe
	url = git://github.com/davidar/3dglobe.git
[submodule "submodules/blueprint-css"]
	path = submodules/blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "submodules/blueprint-tabs"]
	path = submodules/blueprint-tabs
	url = git://github.com/Montoya/blueprint-plugin---tabs.git
