<p>
    &copy; 2007&ndash;{{ site.time | date: "%Y" }}
    <a href="mailto:&#100;&#064;&#118;&#105;&#100;&#114;&#046;&#099;&#099;">David Roberts</a>.
    Design adapted from <a href="http://oswd.org/design/information/id/3560">Nonzero</a> by <a href="http://nodethirtythree.com/">NodeThirtyThree Design</a>.
    Valid <a href="http://validator.w3.org/check?uri=referer" rel="external">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.
    <a href="http://github.com/davidar/da.vidr.cc">Source code</a>.
</p>
