<link rel="icon" type="image/png" href="http://static.da.vidr.cc/images/favicon.png" />

<link type="text/css" rel="stylesheet" href="http://static.da.vidr.cc/css/style.css" />
<link type="text/css" rel="stylesheet" href="http://static.da.vidr.cc/css/highlight.css" />

<link type="application/rss+xml" rel="alternate" href="http://feeds.da.vidr.cc/DavidRobertsBlog" title="RSS" />

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
/* Google AJAX Libraries API: http://code.google.com/apis/ajaxlibs/ */
google.load("jquery", "1");
google.load("jqueryui", "1");
google.load("search", "1");

google.setOnLoadCallback(function(){
  new google.search.CustomSearchControl('000746597015991938530:eiqn6nwrzys').draw('cse');
}, true);
</script>

<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
<script type="text/javascript" src="http://static.da.vidr.cc/js/quotes.js"></script>
