<h3 class="alt">Search</h3>
<!-- Google Custom Search Element -->
<div id="cse" style="width:100%"><p>Loading...</p></div>
<hr />

<h3 class="alt">Random Quote</h3>
<div id="quote"><p>Loading...</p></div>
<hr />

<div class="align-center">
    <!--Ad Bard advertisement snippet -->
    <script type='text/javascript'>
        var ab_h = 'dc99490b1d62d8112700c97fc221bf13';
        var ab_s = '43ca54f35f57b3cfd01244855c0185be';
    </script>
    <script type='text/javascript' src='http://cdn1.adbard.net/js/ab1.js'></script>
</div>
