<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-3316928-4");
        pageTracker._trackPageview();
    } catch(err) {}
</script>

<script type="text/javascript">
    _qoptions = { qacct:"p-43pBErRT8Ga8E" };
</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript>
    <p><img src="http://pixel.quantserve.com/pixel/p-43pBErRT8Ga8E.gif" style="display:none;border:0" height="1" width="1" alt="Quantcast"/></p>
</noscript>

<script type="text/javascript">
    var domainy = location.protocol == "https:" ? "https://static.getclicky.com" : "http://static.getclicky.com";
    document.write(unescape("%3Cscript src='" + domainy + "/130260.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/130260-db17.gif" /></p></noscript>
