<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>{{ page.title }} | da.vidr.cc | David Roberts</title>
        {% include head.html %}
        {% if page.head %}{{ page.head }}{% endif %}
    </head>
    <body>
        <div id="header">
            <div id="header_inner" class="fluid">
                <div id="logo">
                    <a href="/"><img src="http://static.da.vidr.cc/images/logo-trans.gif"
                        alt="da.vidr.cc &#100;&#064;&#118;&#105;&#100;&#114;&#046;&#099;&#099;" /></a>
                </div>
                <div id="menu"><ul>
                    <li><a href="/"          {% if page.tab == "blog"     %} class="active" {% endif %}>blog</a></li>
                    <li><a href="/projects/" {% if page.tab == "projects" %} class="active" {% endif %}>projects</a></li>
                    <li><a href="/about/"    {% if page.tab == "about"    %} class="active" {% endif %}>about</a></li>
                </ul></div>
            </div>
        </div>

        <div id="main"><div id="main_inner" class="fluid">
            <div id="left"><div id="content">
                {{ content }}
            </div></div>
            <div id="right">{% include sidebar.html %}</div>
            <br class="clear" />
        </div></div>

        <div id="footer" class="fluid">{% include footer.html %}</div>

        {% include disqus/num-replies.html %}
        {% include tracking.html %}
    </body>
</html>

