---
layout: default
tab: root
head: |
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://openid.da.vidr.cc/david" />
    <link rel="openid2.local_id" href="http://openid.da.vidr.cc/david" />
    <link rel="openid2.provider" href="http://www.myopenid.com/server" />
    <meta http-equiv="X-XRDS-Location" content="http://static.da.vidr.cc/xrds" />
---

{% for post in paginator.posts %}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
{{ post.content | summarize_post }}
<hr />
{% endfor %}

<div class="span-8 colborder align-center">
    <p>
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/">&laquo; older entries</a>
    {% endif %}
    </p>
</div>
<div class="span-8 last align-center">
    <p>
    {% if paginator.previous_page %}
    <a href="/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}/{% endif %}">newer entries &raquo;</a>
    {% endif %}
    </p>
</div>
<hr class="space" />
