{% extends "pages/base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% load tabs %}
{% block topnav %}
{% activetab page.root %}
{{ block.super }}
{% endblock %}

{% block head %}
{{ block.super }}
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% endif %}
{% if page.head %}
{{ page.head|safe }}
{% endif %}
{% endblock %}

{% block content %}
<h3>{{ page.title }}</h3>
{% if page.description %}<p>{{ page.description }}</p>{% endif %}
{{ page.content_html|safe }}
<hr />
<p>Page last updated: {{ page.mod_date|date:"Y-m-d" }}
 | <a href="{{ page.get_absolute_url }}source/">View page source</a></p>

{% load disqus_tags %} {% disqus_show_comments page.title page.get_absolute_url %}
{% endblock %}

