{% load codehilite %}

{% if source %}
{{ source|codehilite:"java" }}
{% endif %}

{% if errors %}
<p><strong>Errors:</strong></p>
<ul>
{% for error in errors %}
<li>{{ error }}</li>
{% endfor %}
</ul>
{% endif %}

{% if warnings %}
<p><strong>Warnings:</strong><p>
<ul>
{% for warning in warnings %}
<li>{{ warning }}</li>
{% endfor %}
</ul>
{% endif %}

{% if classes %}
{% for filename,asm in classes.items %}
<h4>{{ filename }}</h4>
{{ asm|codehilite:"jasmin" }}
{% endfor %}
{% endif %}

<form action="" method="post">
<table><tr><th>Filename</th>
<td><input type="text" name="classname" value="{% if classname %}{{ classname }}{% else %}HelloWorld{% endif %}" />.java</td></tr>
<tr><th>Source</th>
<td><textarea rows="10" cols="80" name="source">{% if source %}{{ source }}{% else %}public class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello World!!");
    }
}{% endif %}</textarea></td></tr>
<tr><th></th><td><input type="submit" /></td></tr>
</table>
</form>

