<div id="disqus_thread"></div>
<script type="text/javascript">
//<![CDATA[
    var disqus_title = "{{ page.title }}";
    var disqus_url = "http://{{ site.domain }}{{ page.url }}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://{{ site.disqus_shortname }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
//]]>
</script>
<noscript><p>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus_shortname }}">comments powered by Disqus.</a></p></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
